
h1 {
    background-color: rebeccapurple;
}

section {
    display: inline-block;
    width: 23%;
    height: 100px;
}

section {
    background-color: aqua;
}

#Me {
    width: : 40.9%;
    height: : 25%
}

header <script>greetUser</script>{
    padding-top: 3%
    padding: bottom 3px;
    padding-left: 4%;
}
